.header {
  background-color: var(--mainColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0 2rem;
  margin-bottom: 5rem;
}

.avatar {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin: 20px auto;
  border: 2px solid #2f3542;
}

.name {
  color: #747d8c;
}
