.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.listItem {
  list-style: none;
  padding: 1rem;
  border: 1px solid #a4b0be;
}

.itemName b,
.itemLanguage b {
  margin-right: 0.5rem;
}
.itemLink {
  display: block;
  background-color: #ff7f50;
  color: #f1f2f6;
  text-align: center;
  font-weight: bold;
  margin-top: 0.5rem;
  padding: 0.5rem;
  text-decoration: none;
}

:root {
  --mainColor: #eccc68;
  --secColor: #a4b0be;
}
